/*Costume Class style*/
.product-badge{
    width: 92%;
}
.bg-hidden {
    background: none !important;
}
.product-badge .fa-heart{
    font-size: 17px;
}
.disount-class {
    height: 50px;
    width: 50px;
    border: 1px solid #FF5A3C;
    border-radius: 50%;
    font-size: 18px;
    padding: 6px;
    font-weight: 700;
}
.text-line-through {
    text-decoration-line: line-through;
    color: #605f5f !important;
}
/*End Costume Class style*/

/*Start Swiper CSS Section*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    /*height: 80%;*/
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper-container.mySwiper2{
    padding-bottom: 8px;
}

/*.swiper-slide img {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
/*End Swiper CSS Section*/

/*Start Product Section*/
.label-color {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin: 5px;
}
.input-color {
    appearance: none;
}
.label-color-active {
    border: 2px solid gold;
    transition: ease-in-out 3ms;
}
/*End Product Section*/

/*Start Services Section*/
.services-section {
    height: 700px;
}

.services-section ul {
    height: 500px;
    overflow: auto;
}

.services-section ul::-webkit-scrollbar {
    width: 10px;
}

.services-section ul::-webkit-scrollbar-thumb {
    background-color: #FF5A3C;
    outline: 1px solid slategrey;
}

.services-section .service-tap {
    padding: 20px;
}

.service-tap .hr {
    height: 2px;
    background: #FF5A3C;
    width: 15px;
    display: inline-block;
    margin-bottom: 3px;
    transition: all ease-in-out 0.3s;
}

.services-section .service-tap a:hover div {
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.services-section .service-tap a {
    font-size: 20px;
    font-weight: 600;
}

.services-section .active {
    color: #FF5A3C;
}
.services-section .service-tap .active div{
    width: 30px;
    transition: all 0.3s ease-in-out;
}
@media  (max-width: 992px){
    .services-section ul{
        height: auto !important;
    }
}

/*End Services Section*/

