/*Costume Class style*/
.product-badge{
    width: 92%;
}
.bg-hidden {
    background: none !important;
}
.product-badge .fa-heart{
    font-size: 17px;
}
.disount-class {
    height: 50px;
    width: 50px;
    border: 1px solid #FF5A3C;
    border-radius: 50%;
    font-size: 18px;
    padding: 6px;
    font-weight: 700;
}
.text-line-through {
    text-decoration-line: line-through;
    color: #605f5f !important;
}
/*End Costume Class style*/

/*Start Services Section*/
.services-section {
    height: 700px;
}

.services-section ul {
    height: 500px;
    overflow: auto;
}

.services-section ul::-webkit-scrollbar {
    width: 10px;
}

.services-section ul::-webkit-scrollbar-thumb {
    background-color: #FF5A3C;
    outline: 1px solid slategrey;
}

.services-section .service-tap {
    padding: 20px;
}

.service-tap .hr {
    height: 2px;
    background: #FF5A3C;
    width: 15px;
    display: inline-block;
    margin-bottom: 3px;
    transition: all ease-in-out 0.3s;
}

.services-section .service-tap a:hover div {
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.services-section .service-tap a {
    font-size: 20px;
    font-weight: 600;
}

.services-section .active {
    color: #FF5A3C;
}
.services-section .service-tap .active div{
    width: 30px;
    transition: all 0.3s ease-in-out;
}
@media  (max-width: 992px){
    .services-section ul{
        height: auto !important;
    }
}

/*End Services Section*/

